{% extends 'layout.html' %}
<head>
<style>
	ul#form.list-group li{
    	display:inline;
	}

</style>
</head>
{% block content %}
<div class="container">
  <h2>Groups</h2>
	<ul class="list-group">
		{% for group in groups %}

		    <li class="list-group-item">
		    	<a data-toggle="collapse" data-target="#demo_{{ group }}" href="#collapse">{{ group }}</a>
		    </li>
		    <div id="demo_{{ group }}" class="collapse">
			    <li class="list-group-item">
			    	{% for task in group.task_set.all %}
			    			
					    		<ul class="list-group" id="form">
					    				<h2>{{task.id}}</h2>
										<li class="list-group-item">{{task}}</li>
										<li class="list-group-item">{{task.creation_date}}</li>
										</br>											
										<li class="list-group-item">
											<form action="/tasks/{{ group.id }}/{{task.id}}/updateTask" method="post">
												{% csrf_token %}
	  											
  												{% if task.status == "pending" %}
  												<div class="custom-controls-stacked">
  													<label class="custom-control custom-radio">	
	    												<input type="radio" id="radioStacked3" name="radio" value="1" class="custom-control-input" checked>
	    												<span class="custom-control-indicator"></span>
    													<span class="custom-control-description">pending</span>
    												</label>
    											
    											
    												<label class="custom-control custom-radio">
	    												<input type="radio" id="radioStacked4" name="radio" value="2" class="custom-control-input" >
	    												<span class="custom-control-indicator"></span>
	    												<span class="custom-control-description">done</span>
	    											</label>

    											</div>
    											<div>
	    											<button type="submit" class="btn btn-primary">Update</button>
	    											
	  											</div>
    											{% else %}
    											<div class="custom-controls-stacked">
    												<label class="custom-control custom-radio">
	    												<input type="radio" id="radioStacked3" name="radio" value="1" class="custom-control-input">
	    												<span class="custom-control-indicator"></span>
	    												<span class="custom-control-description">pending</span>
	    											</label>
    												
    											
    											
    												<label class="custom-control custom-radio">
	    												<input type="radio" id="radioStacked4" name="radio" value="2" class="custom-control-input" checked>
	    												<span class="custom-control-indicator"></span>
	    												<span class="custom-control-description">done</span>
	    											</label>
    												
    											</div>
    											<div>
	    											<button type="submit" class="btn btn-primary">Update</button>
	    				
	  											</div>
    											{% endif %}


											</form>
										</li>
										<li class="list-group-item"><a href="/tasks/{{ task.id }}/deleteTask" class="btn btn-primary">Delete</a></li>
								</ul>

					{% endfor %}
			    </li>
			    <li class="list-group-item" id="show">
			    <h2>Add new task</h2>								
					<form action="/tasks/{{ group.id }}/newTask" method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="name">Name:</label>
		    				<input type="text" name="name" />
		    			</div>
		  					</br>
		  				<div>
							<button type="submit" id="add" class="btn btn-primary">Add</button>
						</div>
					</form>						
				</li>
			</div>

		{% endfor %}
	</ul>
	</br>	
	<h2>Add new group</h2>
	<form action="/tasks/newGroup" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="name">Name:</label>
    		<input type="text" name="name" />
    		
		</div>

			<button type="submit" class="btn btn-primary">Add</button>
		
	</form>
		
	
</div>



{% endblock %}